doctype html
html(lang='en')
  head
    title Chatweb Login
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='/public/js/bootstrap.js')
    link(rel='stylesheet', href='/public/css/style1.css')
  body
    .container
      .row.jumbotron.text-center
        .row.text-center
          h1 Welcome to ChatWeb
        .row
          p Enter details to login
          .row
            .col-sm-3
            .col-sm-6
              form.form-horizontal(action='/login', method='POST', role='form')
                .form-group
                  label.col-sm-3.control-label(for='inputEmail3') Email:
                  .col-sm-9
                    input#inputEmail3.form-control(type='email', name='username', placeholder='Email')
                .form-group
                  label.col-sm-3.control-label(for='inputPassword3') Password:
                  .col-sm-9
                    input#inputPassword3.form-control(type='password', placeholder='Password', name='password')
                .form-group
                  .col-sm-6
                    .checkbox
                      label
                        input(type='checkbox')
                        |  Remember me
                  .col-sm-6
                    .checkbox
                      label
                        a(href='') Forgot your password ?
                .form-group
                  .col-sm-12
                    button.btn.btn-primary(type='submit') Sign in
                .form-group
                  .col-sm-6
                    div
                      a(href='#')
                        img.img-responsive(src='/public/images/sign-in-with-facebook.png')
                  .col-sm-6
                    div
                      a(href='#')
                        img.img-responsive(src='/public/images/sign-in-with-google.png')
                .form-group
                  .col-sm-12
                    label
                      | Don't have an account? 
                      a(href='/registration') Sign Up
            .col-sm-3
