<!DOCTYPE html>
<html lang="en"> 
<head>
  <title>Login Form</title>
    <link rel='stylesheet' href = '/public/css/bootstrap.css'>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/public/js/bootstrap.js"></script>
</head>
<body>
 <div class = "container">
   <div class="col-sm-4">
    <div > <b># of Online Users: <span id = "online">0</span> </b></div>
    <ul class="list-group">
    <li class="list-group-item">akash</li>
    <li class="list-group-item">Nitesh</li>
    <li class="list-group-item">Gaurav</li>
  </ul>
   </div>
   <div class="col-sm-7">
      <!-- <div>
        <input id='username' type="text" placeholder='Enter username' style='width:50%;height: 30px'> | 
        <input id='btnUserAdd' type='button' value='Enter' style='width:24%;height: 30px'> |
        <input id='btnUserExit' type='button' value='Exit'style='width:24%;height: 30px '>
      </div>
       -->
       <div>
        <div style='width:80%;float:left  ' >
        <ul id="messages" style='padding-bottom:40px'></ul>
        </div>
        <div style='width:20%; margin-left: auto;'>
            <!-- <div style='width:100%; margin-left: auto; height:30px'> <b># of Online Users: <span id = "online">0</span> </b></div> -->
            <div style='width:100%; margin-left: auto;' > <ol id="users"></ol> </div>  
        </div>
      </div>
      <div >
        <form action="">
          <input id="m" class="form-control" autocomplete="off" placeholder='Type message'/><button>Send</button>
        </form>
      </div>
   </div>
 </div>   
</body>
</html>