doctype html
html(lang='en')
  head
    title Login Form
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/style1.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='/public/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/js/socketConnection.js')
    script(src='/public/js/createtab.js')
  body
    .container
      h1 #{username}
      input#userId(type='hidden', name='target', value="#{email}")
      input#username(type='hidden', name='target', value="#{username}")
      input#_id(type='hidden', name='target', value="#{_id}")
      .col-sm-12
        #logour
          a(href='/logout')  LOGOUT 
      .col-sm-4
        div
          b
            | # of Online Users: 
            span#totalonline
        ul#onlineUser.list-group(style='list-style-type:none;')
        ul#chatRooms.list-group(style='list-style-type:none;')
      .col-sm-7(style='border:1px solid black;')
        div
          #msgs(style='width:100%;float:left;height:220px;overflow: scroll;')
            ul#messages(style='padding-bottom:40px;list-style-type:none;')
        div
          form#msgForm(action='')
            input#message.form-control(autocomplete='off', placeholder='Type message')
            button Send
      // div.col-sm-12#chat_tabs(style='position:fixed;bottom:0px;')
      #chat_tabs.col-sm-12
      #openModal.modal.fade(role='dialog')
        .modal-dialog.modal-lg
          .modal-content
            .modal-body
