doctype html
html(lang='en')
  head
    title Login Form
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    link(rel='stylesheet', href='/public/css/style1.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='/public/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/js/socketConnection.js')
    script(src='/public/js/createtab.js')
  body
    .container
      h1
      input#userId(type='hidden', name='target', value='undefined')
      input#username(type='hidden', name='target', value='undefined')
      input#_id(type='hidden', name='target', value='undefined')
      .col-sm-12
        #logour
          a(href='/logout')  LOGOUT 
      .col-sm-4
        div
          b
            | # of Online Users: 
            span#totalonline
        ul#onlineUser.list-group(style='list-style-type:none;')
      .col-sm-7(style='border:1px solid black;')
        div
          #msgs(style='width:100%;float:left;height:220px;overflow: scroll;')
            ul#messages(style='padding-bottom:40px;list-style-type:none;')
        div
          form#msgForm(action='')
            ul.list-inline
              li
                .form-group
                  input#message.form-control(autocomplete='off', placeholder='Type message')
              li
                button.btn.btn-default Send
      //div.col-sm-12#chat_tabs(style='position:fixed;bottom:0px;')
      div.col-sm-12#chat_tabs
