doctype html
html(lang='en')
  head
    title Login Form
    link(rel='stylesheet', href='/public/css/bootstrap.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='/public/js/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/js/socketConnection.js')
  body
    .container
      H1 #{username}
      input(type="hidden" name="target" value="#{email}" id="userId")
      input(type="hidden" name="target" value="#{username}" id="username")
      div.col-sm-12
        #logour <a href='/logout'> LOGOUT </a>
      .col-sm-4
        div
          b
            | # of Online Users: 
            span#online 0
        ul#onlineUser.list-group
      .col-sm-7
        div
          div(style='width:80%;float:left  ')
            ul#messages(style='padding-bottom:40px')
          div(style='width:20%; margin-left: auto;')
            div(style='width:100%; margin-left: auto;')
              ol#users
        div
          form(action='' id="msgForm")
            input#message.form-control(autocomplete='off', placeholder='Type message')
            button Send
